.Homepage_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.Homepage_shelf {
    display: flex;
    background: #d34735;
    width: 500px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.35);
}

.Homepage_shelf_title {
    position: relative;
    right: 110px;
    font-weight: 700;
    font-size: 30px;
}
